body {
    font-family: "Open Sans";
    padding: 1em 2em;
    font-size: 14px;
}

header {
    padding-bottom: 1em;
}

img {
    height: 50px;
}

.video-and-metadata-wrapper {
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 1em 0;
}

video {
    width: 60vw;
}

.data-item-wrapper {
    padding-left: 2em;
}

.data-title {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    margin: 0;
}

strong {
    color: #2A7BF7;
}

.words, .other-metadata {
    padding-bottom: 2em;
    margin: 0;
}